<% content_for :javascript_includes do %>
  <%= javascript_include_tag "candies_form.js" %>
<% end %>

<div id="candy-instance" data-title="<%= @candy.title %>" data-subtitle="<%= @candy.subtitle %>" data-sku="<%= @candy.sku %>" data-description="<%= @candy.description %>"></div>

<%= form_for(@candy) do |f| %>
  <% if @candy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candy.errors.count, "error") %> prohibited this candy from being saved:</h2>

      <ul>
      <% @candy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Title<br />
    <input type="text" size="100" data-bind="value: title"></input>
  </div>
  <div class="field">
    Subtitle<br />
    <input type="text" size="100" data-bind="value: subtitle"></input>
  </div>
  <div class="field">
    Sku<br />
    <input type="text" size="13" data-bind="value: sku"></input>
  </div>
  <div class="field">
    Description<br />
    <input type="text" size="100" data-bind="value: description"></input>
  </div>
  <div class="field">
    Alias<br />
    <span data-bind="html: alias"></span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
