<h1>Listing Candies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Sku</th>
    <th>Description</th>
    <th>Alias</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candies.each do |candy| %>
  <tr>
    <td><%= candy.title %></td>
    <td><%= candy.subtitle %></td>
    <td><%= candy.sku %></td>
    <td><%= candy.description %></td>
    <td><%= candy.alias %></td>
    <td><%= link_to 'Show', candy %></td>
    <td><%= link_to 'Edit', edit_candy_path(candy) %></td>
    <td><%= link_to 'Destroy', candy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candy', new_candy_path %>
