<h1>Candy#show</h1>

Title: <%=@candy.title%><br />
Subtitle: <%=@candy.subtitle%><br />
Id: <%=@candy.id%><br />
Sku: <%=@candy.sku%><br />
Description: <%=@candy.description%><br />
Alias: <%=@candy.alias%><br />
