<table id="pending_table" border="1" cellpadding="5">
<tr>
  <th>Brand</th>
  <th>Type</th>
  <th>SKU</th>
  <th>Amazon Link</th>
  <th>UPC Database Link</th>
</tr>
<% @candies.each do |c| %>
  <tr id="<%= c.id %>">
    <td><%= c.title %></td>
    <td><%= c.subtitle %></td>
    <td><%= c.sku %></td>
    <td><a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=<%= c.sku %>" target="_blank" >Amazon.com</a></td>
    <td><a href="http://www.upcdatabase.com/item/<%= c.sku %>" target="_blank" >UPC Database</a></td>
    <td><button type="button" onclick="approve_pending(<%= c.id %>)">Approve</button> </td>
    <td><button type="button" onclick="deny_pending(<%= c.id %>)">Deny</button> </td>
  </tr>
<% end %>

</table>


<script type="text/javascript">

function approve_pending(n) {
  console.log("approve " + n)
  console.log("<%= root_path %>")
  $.ajax({url:"/candies/approve_pending/"+n, success:function(result){
    $("#"+n).remove();
  }});
}

function deny_pending(n) {
  console.log("#"+n);
  var x = $("#"+n);
  console.log(x);
  $.ajax({url:"/candies/deny_pending/"+n, success:function(result){
    $("#"+n).remove;
  }});
}

</script>
