<% content_for :meta_info do %>
  <title>Find the rare candies you've been craving</title>
  <meta name="Description" content="CandyFinder lets you search for any candy and gives you directions to the closest location. You can also tag new candies at any location in America!" />
<% end %>
<div id="homePage">
<%= image_tag("SearchText.png")%><br /><br />
<%= form_tag(:searches_name, :method => "get") do %>
<table id="home-inputs" style="align: center; margin-left: auto; margin-right: auto;">
<tr>
<td >
 <%= label_tag(:sku, "Sku:") %>
</td>
<td>
 <%= text_field_tag(:sku) %>
</td>
</tr>
<tr>
<td>
 <%= label_tag(:name, "or Name:") %>
</td>
<td>
 <%= text_field_tag(:name) %>
</td>
</tr>
<tr>
<td>
 <%= label_tag(:zip, "Zip Code:") %><span style="color: red;">*</span>
</td>
<td>
 <%= text_field_tag(:zip) %><br />
</td>
</tr>
</table>
<%= submit_tag("Search") %>
<% end %>
<div class="social-media-container" >
 <div class="fb-like social-media-button" data-href="http://www.candyfinder.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" ></div>
 <div class="social-media-button" ><a href="https://plus.google.com/102718454904577460371?prsrc=3" target="_blank" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></div>
 <div class="social-media-button" ><a href="https://twitter.com/share" class="twitter-share-button" data-via="CandyFinder">Tweet</a></div>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 <div style="padding-top: 1.5em;"><%= image_tag("candies.png")%></div>
</div>
</div>
<%= render "home/analytics" %>
