<p id="notice"><%= notice %></p>

<p>
  <b>Candy:</b>
  <%= @search.candy_id %>
</p>

<p>
  <b>Search term:</b>
  <%= @search.search_term %>
</p>

<p>
  <b>Device:</b>
  <%= @search.device_id %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
