<html>
<head>
<%= javascript_include_tag(:defaults) %>
<%= stylesheet_link_tag "jquery-ui-1.8.18.custom.css" %>
<%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js" %>
</head>
<body>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
